.signin {
  align-items: start;
  background-color: #2a293b;
  display: grid;
  justify-items: center;
  width: 100vw;
}

.signin .div {
  align-items: flex-start;
  background-color: #2a293b;
  display: flex;
  gap: 712px;
  height: 901px;
  overflow: hidden;
  padding: 20.5px 0;
  width: 1440px;
}

.signin .frame {
  height: 341px;
  margin-left: -657px;
  margin-top: 9.0px;
  width: 350px;
}

.signin .overlap {
  height: 664px;
  position: relative;
  width: 565px;
}

.signin .view-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 496px;
  left: 116px;
  position: absolute;
  top: 30px;
}

.signin .view {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
}

.signin .frame-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.signin .mask-group {
  height: 80px;
  position: relative;
  width: 80px;
}

.signin .text-wrapper {
  color: #ffffff;
  font-family: "MS Reference Sans Serif-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.signin .img {
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
}

.signin .view-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 466px;
  left: 65px;
  overflow: hidden;
  padding: 40px 73px;
  position: absolute;
  top: 198px;
  width: 500px;
}

.signin .frame-3 {
  align-items: flex-start;
  align-self: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 5px;
  position: relative;
}

.signin .text-wrapper-2 {
  color: #292929;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.signin .new-user-sign-up {
  flex: 0 0 auto;
  position: relative;
}

.signin .inputs {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  position: relative;
}

.signin .input-icon-right {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 344px;
}

.signin .title {
  color: #000000;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 22px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: 344px;
}

.signin .input {
  align-items: center;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e7e9f1;
  border-radius: 30px;
  display: flex;
  gap: 40px;
  height: 44px;
  padding: 12px 20px;
  position: relative;
  width: 344px;
}

.signin .frame-4 {
  align-items: flex-start;
  display: flex;
  gap: 3px;
  position: relative;
  width: 61px;
}

.signin .frame-5 {
  background-color: #373c49;
  border-radius: 56px;
  height: 4px;
  position: relative;
  width: 4px;
}

.signin .text-wrapper-3 {
  align-self: flex-end;
  color: #80cb2c;
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 15px;
  min-height: 17px;
  min-width: 126px;
}

.signin .overlap-group {
  border-radius: 40px;
  height: 48px;
  margin-right: 1.0px;
  margin-top: 45px;
  position: relative;
  width: 343px;
}

.signin .text-wrapper-4 {
  color: #ffffff;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}