/* Модалка ожидания */

position: absolute;
width: 500px;
height: 466px;
left: calc(50% - 500px/2);
top: calc(50% - 466px/2 + 0.5px);

background: #FFFFFF;
border-radius: 20px;


/* Inputs */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

position: absolute;
width: 344px;
height: 168px;
left: 78px;
top: 133px;



/* Input icon right/default */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 344px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title  */

width: 344px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 40px;

width: 344px;
height: 44px;

background: #FFFFFF;
border: 2px solid #E7E9F1;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

width: 240px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;

color: #373C49;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/*  arrows / chevron_down */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon color */

position: absolute;
left: 25%;
right: 25.02%;
top: 37.8%;
bottom: 33.33%;

/* text/label: color-gray-700 */
background: #1D2B36;


/* Input icon right/default */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 344px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title  */

width: 344px;
height: 22px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 20px;
gap: 40px;

width: 344px;
height: 44px;

background: #FFFFFF;
border: 2px solid #E7E9F1;
border-radius: 30px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 569 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 3px;

width: 61px;
height: 4px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 563 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 564 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 567 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 565 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 568 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Frame 566 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* Frame 569 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Frame 570 */

width: 4px;
height: 4px;

background: #373C49;
border-radius: 56px;

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* Title */

display: none;
width: 240px;
height: 20px;



/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/*  arrows / chevron_down */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon color */

position: absolute;
left: 25%;
right: 25.02%;
top: 37.8%;
bottom: 33.33%;

/* text/label: color-gray-700 */
background: #1D2B36;


/* Log in */

position: absolute;
width: 51px;
height: 20px;
left: 224.5px;
top: 384px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;



/* Forgot password? */

position: absolute;
width: 126px;
height: 17px;
left: 301px;
top: 317px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #80CC2D;



/* Frame 572 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

position: absolute;
width: 132px;
height: 63px;
left: 78px;
top: 40px;



/* Sign in */

width: 100px;
height: 34px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;

color: #292929;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New user? Sign up */

width: 132px;
height: 17px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 343px;
height: 48px;
left: calc(50% - 343px/2 - 0.5px);
top: 378px;

background: #AAE06E;
border-radius: 40px;


/* Sign in */

width: 57px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
