main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
button{
    width: 160px;
    height: 40px;
    background-color: blue;

    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
